.App {
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: white;
}

footer {
  text-align: left;
  padding-top: 50px;
}

a {
  color: white;
  text-decoration: underline;
}
