.Forecast {
  text-align: center;
  padding-top: 55px;
}

.forecastIcon canvas {
  width: 70px;
}

.col {
  background: linear-gradient(
    rgba(2, 0, 36, 1) 20%,
    rgba(14, 14, 125, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed;
  padding: 15px 0;
  margin: -10px 15px;
}
