.Weather form {
  margin-bottom: 20px;
  text-align: left;
}

.Input {
  border-radius: 5px;
  width: 350px;
  border: 3px solid #0c2b90;
  padding: 4px;
}

.Button {
  border-radius: 5px;
  margin-left: 6px;
  margin-right: 3px;
  border: 3px solid #0c2b90;
  padding: 4px 15px;
}

.City {
  text-align: left;
}

.City p {
  font-size: 23px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding: 40px 0;
}

.mainTemp {
  vertical-align: middle;
  font-size: 70px;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
}

ul {
  vertical-align: middle;
  list-style: none;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
}

.unit {
  font-size: 23px;
  position: relative;
  top: -30px;
}
